:root {
    --primary-color: #2196F3;
    --primary-color-text: #fff;
    --secondary-color: #ff0040;
    --secondary-color-text: #fff;

    --text-color: #555;
    --text-input-color: #555;
    --danger-color: #f00;

    --app-bar-background: var(--primary-color);
    --app-bar-text-color: #fff;

    --app-menu-width: 15%;
}