.s-navbar {
    padding: .5rem 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    min-height: 4rem;
    z-index: 1000;
    color: var(--app-bar-text-color);
    background-color: var(--app-bar-background);

    a {
        color: var(--app-bar-text-color);
    }
    &--fixed {
        position: fixed;
        top: 0;
        left: auto;
        right: 0;
    }
    &--absolute {
        position: fixed;
        top: 0;
        left: auto;
        right: 0;
    }
    &--sticky {
        position: sticky;
        top: 0;
        left: auto;
        right: 0;
    }
    &-brand {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
}
.s-button {

}
.s-sidebar {

}
.s-nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
}
.s-nav-link a {
    display: block;
    color: var(--text-color);
    padding: .5rem 1rem;
    padding: 10px 35px 10px 15px;
    font-size: 16px;
    text-decoration: none;
}
.s-nav-link a:hover,
.s-nav-link--active a {
    color: var(--primary-color);

}
.s-breadcrumbs {
    ol {
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
    }
    li {
        list-style: none;
    }
}
.s-tabs {
    &-bar {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        background-color: transparent;
        white-space: nowrap;
        overflow-x: auto;

        > li {
            display: inline-block;

            a {
                display: block;
                white-space: nowrap;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                color: var(--text-color);
                cursor: pointer;
                height: 48px;
                line-height: 48px;
                padding-left: 24px;
                padding-right: 24px;
                user-select: none;
            }
        }

        > li.s-tabs--active {
            border-bottom: 2px solid var(--primary-color);
            > a {
                color: var(--primary-color);
            }
        }
    }

}

.s-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    td {
        text-align: center;
        height: 28px;
        border-bottom: 1px solid #ddd;
    }
    th {
        font-weight: bold;
        border-bottom: 2px solid #ddd;
    }
    tr:last-child td {
        border: none;
    }
}

#dialog {
    position: absolute;
    top: 0;
    left: 0;
    .dialog {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .dialog-body {
        background: #fff;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .dialog-overlay {
        position: absolute;
        top: 0;
        left:0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
    }
    .dialog-form {
    }
    .dialog-form-wrapper {
        background: #fff;
    }
    .dialog-form {
        padding: 16px;
    }
}